{% extends 'index.html' %}
{% block title %}ИИИ-ХА! - Chat GPT{% endblock %}
{% block content %}
<div class="container">
	<div class="card">
		<div class="card-image">	
		</div>
      <textarea id="chatgpt-textarea" class="form-control"></textarea>
      <div class="action">
        <button id="generate-btn" class="action-button" onclick="generateChatGPT()">Generate</button>
      </div>
      <div id="content-div" class="content">
        <p id="content-text"></p>
      </div>
	</div>
</div>
{% endblock %}