{% extends 'index.html' %}
{% block title %}ИИИ-ХА! - Fusion{% endblock %}
{% load static %}
{% block body %}
<div class="container">
	<div class="card">
		<div class="card-image">
		</div>
      <textarea class="form-control" placeholder="Введите запрос (Нарисуй картину)"></textarea>
      <div class="action">
        <button id="pre-generate-btn" class="action-button" onclick="generateFusion()">Генерировать</button>
      </div>
      <div id="content-div" class="content">
        <p id="content"></p>
      </div>
	</div>
</div>
{% endblock %}