@media (min-width:1025px) { .gpt-container { width: 50% !important; margin-top: 3% !important;} }
@media (min-width:1025px) { .fusion-container { width: 50% !important; margin-top: 3% !important;} }
@media (max-width:500px) { .gpt-container { margin-left: 3% !important; margin-top: 7% !important;} }
@media (max-width:500px) { .fusion-container { margin-left: 3% !important; margin-top: 7% !important;} }

textarea {
    resize: none;
    height: 230px;
}

.btn-row {
    position: relative;
    top: 10px;
}

.content {
    max-height: 250px;
    max-width: 608px;
    padding: 0.5rem;
    overflow-y: auto;
    scrollbar-width: thin;
    margin-left: -6px;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: black;
}

@media (max-width:500px) { #fusion-image-result {
    display: block;
    width: 20rem;
    margin-left: 4.5%;
    margin-right: auto;
    }
}

@media (min-width:1025px) { #fusion-image-result {
    display: block;
    width: 20rem;
    margin-left: 30%;
    margin-right: auto;
    }
}