@media (min-width:1025px) { .gpt-container { width: 50% !important; margin-top: 3% !important;} }
@media (min-width:1025px) { .fusion-container { width: 50% !important; margin-top: 3% !important;} }
@media (min-width:1025px) { .service-card { width: 190px !important;} }
@media (max-width:500px) { .gpt-container { margin-left: 3% !important; margin-top: 7% !important;} }
@media (max-width:500px) { .fusion-container { margin-left: 3% !important; margin-top: 7% !important;} }
@media (max-width:500px) { .service-card { width: 150px !important;} }

textarea {
    resize: none;
    height: 230px;
	display: flex;
	flex-direction: column;
	width: 100%;
    margin-top: 15px;
}

.btn-row {
    position: relative;
    top: 10px;
}

.content {
    max-height: 250px;
    max-width: 608px;
    padding: 0.5rem;
    overflow-y: auto;
    scrollbar-width: thin;
	margin-top: 5px;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: black;
}

#content-image {
	margin-top: 20px;
}

@media (max-width:500px) { #fusion-image-result {
    display: block;
    width: 20rem;
    margin-left: 4.5%;
    margin-right: auto;
    }
}

@media (min-width:1025px) { #fusion-image-result {
    display: block;
	width: 240px;
    margin-right: auto;
	margin-left: 25%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}


// iOS Reset 
input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 525px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .55rem;
}

.card-image {
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 60%;
	background-image: url('../images/logo-page.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 41%;
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 1rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}

#service-choice-button {
	border: none;
	background-color: white;
	padding: 0.5rem;
	flex: wrap;
}

#service-choice-modal {
	height: 500px;
}

.service-card {
	height: 254px;
	background: #07182E;
	position: relative;
	display: flex;
	place-content: center;
	place-items: center;
	overflow: hidden;
	border-radius: 20px;
  }

  .service-card h2 {
	z-index: 1;
	color: white;
	font-size: 1em;
  }

.service-card::before {
	content: '';
	position: absolute;
	width: 100px;
	background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
	height: 130%;
	animation: rotBGimg 3s linear infinite;
	transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }

  .service-card::after {
	content: '';
	position: absolute;
	background: #07182E;
	;
	inset: 5px;
	border-radius: 15px;
  }

.modal {
	overflow-y: hidden;
}

.modal-dialog{
    overflow-y: initial !important
}

.services{
	height: 45vh;
    overflow-y: auto;
}

.services::-webkit-scrollbar {
    width: 10px;
}

.services::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 10px;
}

.services::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: black;
}
